PORT=5000
NODE_ENV=production
DATABASE_URL="postgresql://missionwell:missionwell_secure_pass@postgres:5432/missionwelldb?schema=public"
AUTH_SECRET="your-32-character-secret-key-here"
ML_SERVICE_URL="http://ml-service:8000"
CORS_ORIGIN="http://localhost:3000"
GEMINI_API_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
APP_URL="https://missionwell-frontend.onrender.com"
